<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdkj.dao.WorksMapper">
  <resultMap id="BaseResultMap" type="com.xdkj.bean.Works">
    <!--@mbg.generated-->
    <!--@Table works-->
    <id column="works_id" jdbcType="INTEGER" property="works_id" />
    <result column="works_name" jdbcType="VARCHAR" property="works_name" />
    <result column="works_trade" jdbcType="VARCHAR" property="works_trade" />
    <result column="works_keyword" jdbcType="VARCHAR" property="works_keyword" />
    <result column="works_href" jdbcType="VARCHAR" property="works_href" />
    <result column="works_duty" jdbcType="VARCHAR" property="works_duty" />
    <result column="works_image" jdbcType="VARCHAR" property="works_image" />
    <result column="works_person" jdbcType="INTEGER" property="works_person" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    works_id, works_name, works_trade, works_keyword, works_href, works_duty, works_image, 
    works_person
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from works
    where works_id = #{works_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from works
    where works_id = #{works_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="works_id" keyProperty="works_id" parameterType="com.xdkj.bean.Works" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into works (works_name, works_trade, works_keyword, 
      works_href, works_duty, works_image, 
      works_person)
    values (#{works_name,jdbcType=VARCHAR}, #{works_trade,jdbcType=VARCHAR}, #{works_keyword,jdbcType=VARCHAR}, 
      #{works_href,jdbcType=VARCHAR}, #{works_duty,jdbcType=VARCHAR}, #{works_image,jdbcType=VARCHAR}, 
      #{works_person,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="works_id" keyProperty="works_id" parameterType="com.xdkj.bean.Works" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into works
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="works_name != null">
        works_name,
      </if>
      <if test="works_trade != null">
        works_trade,
      </if>
      <if test="works_keyword != null">
        works_keyword,
      </if>
      <if test="works_href != null">
        works_href,
      </if>
      <if test="works_duty != null">
        works_duty,
      </if>
      <if test="works_image != null">
        works_image,
      </if>
      <if test="works_person != null">
        works_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="works_name != null">
        #{works_name,jdbcType=VARCHAR},
      </if>
      <if test="works_trade != null">
        #{works_trade,jdbcType=VARCHAR},
      </if>
      <if test="works_keyword != null">
        #{works_keyword,jdbcType=VARCHAR},
      </if>
      <if test="works_href != null">
        #{works_href,jdbcType=VARCHAR},
      </if>
      <if test="works_duty != null">
        #{works_duty,jdbcType=VARCHAR},
      </if>
      <if test="works_image != null">
        #{works_image,jdbcType=VARCHAR},
      </if>
      <if test="works_person != null">
        #{works_person,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdkj.bean.Works">
    <!--@mbg.generated-->
    update works
    <set>
      <if test="works_name != null">
        works_name = #{works_name,jdbcType=VARCHAR},
      </if>
      <if test="works_trade != null">
        works_trade = #{works_trade,jdbcType=VARCHAR},
      </if>
      <if test="works_keyword != null">
        works_keyword = #{works_keyword,jdbcType=VARCHAR},
      </if>
      <if test="works_href != null">
        works_href = #{works_href,jdbcType=VARCHAR},
      </if>
      <if test="works_duty != null">
        works_duty = #{works_duty,jdbcType=VARCHAR},
      </if>
      <if test="works_image != null">
        works_image = #{works_image,jdbcType=VARCHAR},
      </if>
      <if test="works_person != null">
        works_person = #{works_person,jdbcType=INTEGER},
      </if>
    </set>
    where works_id = #{works_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdkj.bean.Works">
    <!--@mbg.generated-->
    update works
    set works_name = #{works_name,jdbcType=VARCHAR},
      works_trade = #{works_trade,jdbcType=VARCHAR},
      works_keyword = #{works_keyword,jdbcType=VARCHAR},
      works_href = #{works_href,jdbcType=VARCHAR},
      works_duty = #{works_duty,jdbcType=VARCHAR},
      works_image = #{works_image,jdbcType=VARCHAR},
      works_person = #{works_person,jdbcType=INTEGER}
    where works_id = #{works_id,jdbcType=INTEGER}
  </update>
</mapper>